<div class="card mx-5 my-4" id="{{_id}}">
    <div class="card-body">
        <h5 class="card-title text-body-emphasis">{{authorUsername}}</h5>
        <h6 class="card-subtitle mb-2">{{createTime}}</h6>

        <input type="button" value="Like" class="btn btn-sm btn-danger" id="likeButton_{{_id}}">
        <p class="likes_{{_id}}">{{likes.length}} Likes</p>

        <p class="card-text">{{textContent}}</p>
    </div>
</div>
