<div class="card mx-5 my-4">
    <div class="card-body">
        <h5 class="card-title text-body-emphasis">{{authorUsername}}</h5>
        <h6 class="card-subtitle mb-2">{{lastUpdated}}</h6>

        <div class="row">
            <div class="col-4">
                <p class="card-text">{{textContent}}</p>
            </div>
            <div class="col-8">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/{{musicContent.type}}/{{musicContent._id}}?utm_source=generator" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
        
        <a href="/post/{{_id}}" role="button" class="btn btn-outline-dark btn-sm">View Post</a>
    </div>
</div>
