{{!-- <div class="card mx-5 my-4">
    <div class="card-body">
        <h5 class="card-title text-body-emphasis">{{authorUsername}}</h5>
        <h6 class="card-subtitle mb-2">{{lastUpdated}}</h6>

        <p class="card-text">{{textContent}}</p>
        <a href="/post/{{_id}}" role="button" class="btn btn-outline-dark btn-sm stretched-link">View Post</a>
    </div>
</div> --}}


<div class="card mx-5 my-4">
    <div class="card-body">
        <h5 class="card-title text-body-emphasis">{{authorUsername}}</h5>
        <h6 class="card-subtitle mb-2">{{lastUpdated}}</h6>
        <p class="card-text">{{textContent}}</p>
        
        {{!-- <input type="button" value="Like" id="likeButton">
        {{#if likes.length}}
        <p class="likes">{{likes.length}} Likes</p>
        {{else}}
        <p class="likes">0 Likes</p>
        {{/if}} --}}

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/{{musicContent.type}}/{{musicContent._id}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <a href="/post/{{_id}}" role="button" class="btn btn-outline-dark btn-sm stretched-link">View Post</a>
    </div>
</div>
