<div class="container text-center py-5 px-3" id="titleContainer">
    <h1 class="display-6 text-body-emphasis fw-medium">Welcome, {{username}}.</h1>

<div class="newPost">
<form id="newPostForm">
    <div class="input-group">
    <input type="text" id="post" class="form-control" placeholder="What are you listening to?">
    <button type="button" data-bs-toggle="modal" data-bs-target="#playlistModal" class="btn btn-primary">Attach Playlist
    </button>
    <div class="modal fade" id="playlistModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Select playlist:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" >
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Insert playlist selection here</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
                    <button type="button" class="btn btn-primary">Pick playlist</button>
                </div>
            </div>
        </div>
</div>

</div>
    <br>
    <input type="submit" value="Post to feed" class="btn btn-secondary">
</form>
<hr>
</div>
    <h2 class="lead text-body-secondary">Let's see what your friends are listening to:</h2>
    <div class="row pt-2">
        <div class="col">
            <a href="/user/{{username}}" role="button" class="btn btn-secondary">View Your Profile</a>
        </div>
        <div class="col">
            <a href="/logout" role="button" class="btn btn-danger">Log Out</a>
        </div>
    </div>
</div>

<div id="feedArea">
{{!--{{#each feedPosts}}
     {{> postCardView }}

    {{!-- <div>
        <h5>{{authorUsername}}</h5>
        <h6>{{lastUpdated}}</h6>

        <br>

        <p>{{textContent}}</p>
    </div> 
    {{> feed_post }}  
{{/each}} --}}
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/ajax_jquery_json.js"></script>