<div class="container text-center py-5 px-3" id="titleContainer">
    <h1 class="display-6 text-body-emphasis fw-medium">Welcome, {{username}}.</h1>
    <h2 class="lead text-body-secondary">Let's see what your friends are listening to:</h2>
    <div class="row pt-2">
        <div class="col">
            <a href="/user/{{username}}" role="button" class="btn btn-secondary">View Your Profile</a>
        </div>
        <div class="col">
            <a href="/logout" role="button" class="btn btn-danger">Log Out</a>
        </div>
    </div>
</div>


{{#each feedPosts}}
    {{> postCardView }}

    {{!-- <div>
        <h5>{{authorUsername}}</h5>
        <h6>{{lastUpdated}}</h6>

        <br>

        <p>{{textContent}}</p>
    </div> --}}
{{/each}}