<h1> Welcome </h1>
<h2> Messages, where all the magic happens </h2>
<form id="messageForm" method="POST" action="/user/{{recipientUsername}}/messages">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="message">New Message:</label>
    <input type="text" id="message" name="message" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>
{{#each messages}}
    <div>
        <h4>From: {{from}}</h4>
        <h5>To: {{to}}</h5>
        <h6>Time: {{timestamp}}</h6>
        <p>{{content}}</p>
    </div>
{{/each}}
<a href="/" class="btn btn-primary">Back to home.</a>
