<div class="card mx-5 my-4" id="{{_id}}">
    <div class="card-body">
        <a href="/user/{{author}}"><h5 class="card-title text-body-emphasis">{{author}}</h5></a>
        {{#if edited}}
        <p>Edited:</p>
        {{/if}}
        <h6 class="card-subtitle mb-2">{{updated}}</h6>

        <div class="row">
            <div class="col-4">
                <p class="card-text">{{text}}</p>
                {{#if tags}}
                    <div class="tagDisplay">
                        Tags: 
                        {{#each tags}}
                            <span class="tag">{{this}}</span>
                        {{/each}}
                    </div>
                {{/if}}
                
                <input type="button" value="Like" class="btn btn-sm btn-danger" id="likeButton">
                <p class="likes">{{likes.length}} Likes</p>
            </div>
            <div class="col-8">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/{{musicType}}/{{musicURL}}?utm_source=generator" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    {{#if isPlaylist}}
    <form id="newComment">
        <div class="input-group">
            <div class="input-group mb-3"> <!-- Comment section -->
                <input type="text" id="textComment" class="form-control" placeholder="Comment your thoughts">
                <button type="submit" class="btn btn-primary">Create comment</button>
            </div>
        </div>
    </form>
    
    <div class="explain-CR"> Or Share a Rating! </div>

    <form id="newRating">
        <div class="input-group">
            <div class="input-group mb-3"> <!-- Rating section -->
                <textarea id="ratingText" name="ratingText" class="form-control" placeholder="Rate this playlist"></textarea> 
                <button type="submit" id="commentRatingButton" class="btn btn-primary">Create rating</button>
            </div>

            <div>
                <select id="rating" name="rating" class="form-control" disabled>
                    <option value="1">Bad</option>
                    <option value="2">Ok</option>
                    <option value="3">Good!</option>
                    <option value="4">Great!</option>
                    <option value="5" selected>Perfect!</option>
                </select>
                <div class="star-rating">
                    <input type="radio" id="star5" name="rating" value="5" checked><label for="star5" title="5 stars">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">&#9733;</label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">&#9733;</label>
                </div>
            </div>
        </div>
    </form>
    
    {{else}}

    <form id="newComment">
        <div class="input-group">
            <div class="input-group mb-3"> <!-- Comment section -->
                <input type="text" id="textComment" class="form-control" placeholder="Comment your thoughts">
                <button type="submit" class="btn btn-primary">Create comment</button>
            </div>
        </div>
    </form>
    {{/if}}
    
</div>
<div class="container" id="commentArea">
    {{#each comments}}
    {{> commentItem}}
    {{/each}}
</div>

<div class="container" id="ratingArea">
    {{#each ratings}}
    {{> ratingItem}}
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/public/js/ajax_postView_json.js"></script> 