<section>
    {{#if hasName}}
        <h2>{{user.name}}</h2>
        <h4>@{{user.username}}</h4>
    {{else}}
        <h2>@{{user.username}}</h2>
    {{/if}}


{{#if isCurrent}}
<a href="/user/{{user.username}}/edit">Edit your profile here.</a>
{{/if}}

<hr>

</section>
{{#if showProfile}}
    <section>
    {{#if posts.length}}
    <h3>Recent posts by {{displayName}}</h3>

    {{#each posts}}
    {{this.createTime}}
    {{this.textContent}}
    {{this.musicContent}}
    Likes: {{this.likes}}
    Comments: {{this.comments}}
    {{/each}}

    {{/if}}
    {{#unless posts.length}}
    <h2>{{displayName}} has not created any posts yet.</h2>
    {{/unless}}

    {{#if comments.length}}
    {{#each comments}}
    {{this.comment}}
    {{/each}}
    {{/if}}
    {{#unless comments.length}}
    <h2>{{displayName}} has not created any comments yet.</h2>
    {{/unless}}

{{else}}
<h1>{{displayName}} has made their profile private. Send them a friend request to see their profile.</h1>
{{/if}}

</section>