<div class="container pt-5 pb-3 px-3" id="titleContainer">
    {{#if hasName}}
        <h2 class="text-body-emphasis">{{user.name}}</h2>
        <h5 class="text-body-secondary">@{{user.username}}</h5>
    {{else}}
        <h2>@{{user.username}}</h2>
    {{/if}}

    <div class="row pt-2">
        <div class="col">
            <a href="/" role="button" class="btn btn-secondary">Home</a>
            <a href="/logout" role="button" class="btn btn-danger">Log Out</a>
            <br>
            {{#if isCurrent}}
                <a href="/user/{{user.username}}/edit" role="button" class="btn btn-primary">Edit Profile</a>
                <a href="/user/{{user.username}}/requests" class="btn btn-primary">View your friend requests here.</a>
            {{else}}
                {{#if isFriend}}
                    <button onclick="window.location.href='/user/{{user.username}}?removeFriend=true'" class="btn btn-warning">Remove Friend</button>
                {{else}}
                    <form method="POST" action="/user/{{user.username}}" id="sendRequest">
                        <input type="hidden" name="requested" value="{{user.username}}">
                        <input type="hidden" name="requester" value="{{currentUsername}}">
                        <button type="submit" name="friendRequest" class="btn btn-primary">Request Friend</button>
                    </form>                
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

<hr>


<div class="container">
    {{#if showProfile}}
    {{#with user}}
        <div class="container">
            <h4>Posts</h4>
            {{#if posts.length}}
            {{else}}
                <p>{{username}} hasn't made any posts yet.</p>
            {{/if}}
        </div>
        <div id="postArea"></div>

        <div class="container">
            <h4>Comments</h4>
            {{#if comments.length}}
            {{else}}
                <p>{{username}} hasn't made any comments yet.</p>
            {{/if}}
        </div>
        <div id="commentArea"></div>
    {{/with}}

{{else}}
<h5 class="lead text-body-secondary">{{user.username}} has made their profile private. Send them a <a href="/TODO">friend request to see their profile.</a></h5>
{{/if}}
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/ajax_user_json.js"></script>
