<div class="container">
    {{#if hasName}}
        <h2>{{user.name}}</h2>
        <h4>@{{user.username}}</h4>
    {{else}}
        <h2>@{{user.username}}</h2>
    {{/if}}


{{#if isCurrent}}
<a href="/user/{{user.username}}/edit">Edit your profile here.</a>
<br>
{{/if}}
<a href="/">Go to home.</a>
</div>

<hr>

{{#if showProfile}}
<div class="container">

    {{#with user}}
        <div class="container">
            <h4>Posts</h4>
            {{#if posts.length}}
                <ul>
                    {{#each posts}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{else}}
                <p>{{username}} hasn't made any posts yet.</p>
            {{/if}}
        </div>

        <div class="container">
            <h4>Comments</h4>
            {{#if comments.length}}
                <ul>
                    {{#each comments}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{else}}
                <p>{{username}} hasn't made any comments yet.</p>
            {{/if}}
        </div>
    {{/with}}

{{else}}
<h1>{{user.username}} has made their profile private. Send them a <a href="/TODO">friend request to see their profile.</a></h1>
{{/if}}

</div>